@tailwind base;

body {
  background-color: #252422;
  color: #fffcf2;
}

h1 {
  color: #eb5e28;
}

h3 {
  color: #ccc5b9;
}

img {
  border-radius: 8px;
}

footer {
  background-color: #403d39;
  color: #ccc5b9
}


/* Start purging... */
@tailwind components;
/* Stop purging. */



/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */