@tailwind base;
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: #252422;
  color: #fffcf2;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #ccc5b9;
}

img {
  border-radius: 8px;
}

footer {
  background-color: #403d39;
  color: #ccc5b9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */



/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */